// Toast

#toasts {
  position: fixed;
  left: 85%;
  top: 180px;
  transform: translateX(-50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.toast-entry {
  background: var(--secondary-brand-color);
  margin: 0 auto;
  color: var(--light-txt-color);
  border-radius: 20px;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.14);
  padding: 0.7em 1.3em;
  font-size: 1em;
  margin-bottom: 0.25em;
  text-align: center;
  transition: all 0.2 ease;
  &.is-error {
    background: rgb(212, 25, 93);
    color: #fff;
  }
}
